dist: trusty
language: c
env:
  global:
  - CIBW_BEFORE_BUILD=export CFLAGS='-I/home/travis/build/sgeto/libdnet/include'
  - CIBW_TEST_COMMAND="{project}/python/test.py"
matrix:
# Don't wait for "allow_failures" to finish
  fast_finish: true
  allow_failures:
# I don't own a mac
    - os: osx
  include:
    - sudo: required
      services:
        - docker
    - os: osx
os:
  - linux
# "You do not necessarily need to use OS X if you develop on a Mac, only if you need Swift, Objective-C or other macOS software."
  - osx
branches:
  only:
# build *all* branches
  - gh-pages
  - /.*/
compiler:
  - gcc
  - clang
before_install:
  - env
install:
  - if [ ${TRAVIS_OS_NAME} = "linux" ]; then sudo add-apt-repository ppa:dns/gnu -y; sudo apt-get update -qq; sudo apt-get install -y autoconf automake m4 libtool check; fi
# libdumbnet-dev python-all-dev
# osx dummy stuff:
  - if [ ${TRAVIS_OS_NAME} = "osx" ]; then brew update; brew install libpcap libdnet; fi
  - pip install --user cython cibuildwheel==0.2.1
  # - pip install --user setuptools wheel
script:
  - "./autogen.sh && ./configure --disable-silent-rules --with-pic && make"
  # - sudo make install
  - cibuildwheel --output-dir wheelhouse "$PWD/python"
#  - make distcheck
after_script:
 - make check
# after_success:
  # - bash <(curl -s https://codecov.io/bash)
before_deploy: echo 'ready?'
deploy:
# Don't delete build artifacts
  skip_cleanup: true
# GitHub Releases works only for tags, not for branches!
  provider: releases
  api_key:
    secure: tS2Xqo/H4LZo2iI0Ow8ckqbJPRi56Yzk3xvBIrDto2Lu9kLawNpJj+C5NGeHlq2dIjg7syVVfjPk+5HLTsHsK4CPzjIggxsqRWRj0GkO0Wpw03pQuM1zpFmgJBo1vn7roGYJKmYwiEL81ts3Cc8UoBEXAOyR8LGYGYTP8AAZPqYLttfiZABBoBU+3mOetlI5iknKvhm/1oUSsP87yEIgBbdccWXXtSNUCrjudFl4+ypvQhXufLZE63h+R29OeVDYYw7LUWU59TPT4tTHYaopHB2D9TRT1PDLQ01IK3rGwhRzkr6FmQBJDdnki4v2V+uVcdgveJmkkorKg53fOGFdMiahipkRQo6RECQdehw2xMLsZlTZfL6mGCZAX9/7vs+qeXwWjmy1VWihuQCE5Ds4R3BeVAhV4zqcRlFNgYm2INm2kSJTW1rLDaS0uD5/dDhOC1OPATPsLJcdyiJ5LppkOrgMHD809ETP0KSmweXZsmx/sHISXrFvPF/O5r5eGxIyYfFce9hm0UDm7EoUIPH2j0FWp9pxCx0UKDRsKE8285XLB25C/3RPDXLpzja0xzEBUshnVTCP2jO9bwTTJCtJSufr/0FkWJo6XA9xVwSm11UMnhu1ZfXIuCZrAW/kKhFZcaqC6pGVJ9jJvEPABHARJXPNXMKtOBJps9nV3PvWEnI=
# enable wildcards
  file_glob: true
  file:
    - "libdnet-1.*.tar.gz"
    - "libdnet-1.*.zip"
  on:
    condition: $TRAVIS_OS_NAME = "linux"
    tags: true
    repo: sgeto/libdnet
  provider: pypi
  user: "sgeto"
  password:
    secure: MN+yPGTwG2vUXhYeFlryoJl/2BOKN57Kqtk5DdPXAMTMRqGbsw2dSuhx2sQHpD3wpPTT0q/gDadCc1pk22Wvv4npU4e8yGezgJImJju3pkQYjEha+KzlNi96x53iCv/B4oZxVK+NBVK1BA1FIIQsrfjvd4pcyPv/bCUwfhAz4MliENJ9WYg7LxnpmH8UkP6O2jGckrEn3kxH6fG8IvqWvVgpViGack80usBdMuZcv1fCBdVyH+pQJ48W97L4G7Ww33kavbP53tQbnyIPNzxe+pUROPi4oaXH7tYpjqPvhOtljpV5CfbH03OJopGv/81hd4zCxsC0VVC+CqmdKgadNQNdGlBC9jCqu/Fbo3OaajAylwwb+NrG9SV6UUHmyvVMKKFq2fltww24sQ4YBeBM2lE+1oFvoFI5WB6H8IkvzLmbjhKSiorE4djB7Z1OI9xPVQ3JB70sntYoUCH+XMSuOW8OkD8O5Sc+1jkXCwxozCTJj1yYCwUKo1RMFd617WZDMub9RiUjnJDOVaDNbrk3vLb9xPvbVHK6RGB4HdOfNHWMYtaugf9gdkpdBZFgrGRm7ABGyMXaBqow2NFiFtP7QkiwXwtA2jYs6uPOEkflSgFoau/3jJ2R+9nS82ESrJbVJ443fgDfdavAYiwtWLGKvlYMDRf/GNdfyRYzMsWIqh0=
  on:
    # only deploy on tagged commits
    tags: true
    branch: master
    # Your distributions here
    distributions: "sdist bdist_wheel"
  # provider: pages
  # skip_cleanup: true
  # github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  # target_branch: gh-pages
  # project_name: libdnet
  # email: autostart.ini@gmail.com
  # name: Ali Abdulkadir
  # on:
    # branch: master
# after_deploy:
# - "./after_deploy_1.sh"
# - "./after_deploy_2.sh"
notifications:
# Pull Request builds do not trigger email notifications.
  email:
    recipients:
    - autostart.ini@gmail
# change: send a notification when the build status changes (default)
    on_success: change
    on_failure: always
