Source: libdumbnet
Section: libs
Priority: optional
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libdnet/
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper (>> 7), autotools-dev, libtool, automake, autoconf, autoconf, dpatch, python-all-dev (>= 2.6.6-3~), python-pyrex, check

Package: libdumbnet1
Depends: ${shlibs:Depends}
Architecture: any
Description: A dumb, portable networking library -- shared library
 libdumbnet provides a simplified, portable interface to several low-level
 networking routines, including
   * network address manipulation
   * kernel arp(4) cache and route(4) table lookup and manipulation
   * network firewalling (Ip filter, ipfw, ipchains, pdf, ...)
   * network interface lookup and manipulation
   * raw IP packet and Ethernet frame transmission
 .
 libdumbnet is known as libdnet in other distributions, but was renamed
 in Debian in favour of the older DECnet library 'libdnet'.
 .
 This package contains the shared library.

Package: libdumbnet-dev
Section: libdevel
Depends: ${shlibs:Depends}, libdumbnet1 (= ${binary:Version})
Architecture: any
Description: A dumb, portable networking library -- development files
 libdumbnet provides a simplified, portable interface to several low-level
 networking routines, including
   * network address manipulation
   * kernel arp(4) cache and route(4) table lookup and manipulation
   * network firewalling (Ip filter, ipfw, ipchains, pdf, ...)
   * network interface lookup and manipulation
   * raw IP packet and Ethernet frame transmission
 .
 libdumbnet is known as libdnet in other distributions, but was renamed
 in Debian in favour of the older DECnet library 'libdnet'.
 .
 This package contains the static library and the C header files.

Package: python-dumbnet
Section: python
Depends: ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
Architecture: any
Description: A dumb, portable networking library -- python bindings
 libdumbnet provides a simplified, portable interface to several low-level
 networking routines, including
   * network address manipulation
   * kernel arp(4) cache and route(4) table lookup and manipulation
   * network firewalling (Ip filter, ipfw, ipchains, pdf, ...)
   * network interface lookup and manipulation
   * raw IP packet and Ethernet frame transmission
 .
 libdumbnet is known as libdnet in other distributions, but was renamed
 in Debian in favour of the older DECnet library 'libdnet'.
 .
 This package contains the corresponding 'dumbnet' Python module.
